.chat-messages::-webkit-scrollbar {
  width: 0.4rem;
}

.chat-messages::-webkit-scrollbar-track {
  border-radius: 2rem;
  background: #eee;
}

.chat-messages::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background: #ccc;
}

.wrapper {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin: 1.2rem 1.2rem;
  overflow-y: scroll;
  max-height: calc(52rem - 16rem);
}

.chat-messages {
  overflow: hidden;
}

.chat-messages:hover {
  overflow: auto;
}

.message {
  max-width: 80%;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 1rem 1.8rem;
  color: #555;
}

.assistant {
  border-radius: 2rem 2rem 2rem 0;
  /* background: rgba(90, 193, 120, 0.2); */
  align-self: flex-start;
}

.user {
  border-radius: 2rem 2rem 0 2rem;
  background: rgba(119, 119, 119, 0.2);
  align-self: flex-end;
}

.system {
  border-radius: 2rem 2rem 2rem 0;
  background: rgba(119, 119, 119, 0.05);
  align-self: flex-start;
}

.typing-message {
  max-width: 80%;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 1rem 1.8rem;
  align-self: flex-start;
  color: #888;
  background-color: #eee;
  border-radius: 2rem;
}

/**************************/
/* BELOW 640px  */
/**************************/
@media (max-width: 40em) {
  .message,
  .typing-message {
    font-size: 1.2rem;
    line-height: 1.4;
    max-width: 70%;
  }
}
