.pokemon-name {
  color: #777;
  font-size: 20px;
  font-weight: 500;
  margin-top: 2rem;
  text-align: center;
  text-transform: capitalize;
}

/**************************/
/* BELOW 1024px  */
/**************************/
@media (max-width: 64em) {
  .arrow {
    transform: rotate(90deg);
  }
}
