.pagination {
  border-radius: 3.8rem;
  background: rgb(247, 242, 242);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 1.6rem 2rem;
  width: max-content;
  margin: auto;
  margin-top: 4rem;
}

.paginationButton {
  border: none;
  cursor: pointer;
  background-color: rgb(247, 242, 242);
  width: 8px;
  height: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginationButton:disabled,
.paginationButton:disabled:hover,
.paginationButton:disabled:active {
  cursor: not-allowed;
}

.pageNumber {
  border: none;
  color: #656565;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  width: 2.8rem;
  height: 2.8rem;
  background-color: rgb(247, 242, 242);
  text-align: center;
}

.pageNumber:hover,
.pageNumber:active {
  background-color: #d45c37;
  border-radius: 50%;
  color: #fff;
}

.activePage {
  background-color: #d45c37;
  border-radius: 50%;
  color: #fff;
}

.ellipsis {
  color: #656565;
  font-size: 1.6rem;
  font-weight: 600;
  width: 2.8rem;
  height: 2.8rem;
  text-align: center;
}

/**************************/
/* BELOW 992px  */
/**************************/
@media (max-width: 62em) {
  .pagination {
    gap: 1.6rem;
    padding: 1rem 1.6rem;
  }
}

/**************************/
/* BELOW 640px  */
/**************************/
@media (max-width: 40em) {
  .pagination {
    /* gap: 1rem; */
    padding: 1rem 1.2rem;
  }

  .pageNumber {
    font-size: 1.6rem;
    font-weight: 400;
    width: 2rem;
    height: 2rem;
  }

  .ellipsis {
    width: 2rem;
    height: 2rem;
  }
}
